# Environment
.env
.env.backup

# Composer
/vendor
composer.lock
auth.json

# Node
/node_modules
npm-debug.log

# Laravel
/public/hot
/public/storage
/storage/*.key

# PHPUnit
.phpunit.result.cache
phpunit.xml

# Yarn
yarn-error.log

# PHPStan
build
phpstan.neon

# Testbench
testbench.yaml

# PHP CS Fixer
.php-cs-fixer.cache

# Homestead
Homestead.json
Homestead.yaml

# IDEs
/.idea
/.vscode

# TallUI Custom
/resources/views/custom/*
!/resources/views/custom/overview.blade.php
/_custom/*
!/_custom/composer.json-example
!/_custom/README.md
/routes/custom_*.php
