# Environment
.env
.env.backup

# Composer
/vendor
auth.json

# NPM / Node
/node_modules

# Laravel
/public/hot
/public/storage
/storage/*.key
LocalValetDriver.php
herd.yml

# PHPUnit
.phpunit.result.cache
phpunit.cache
phpunit.xml

# PHPStan
/build

# Testbench
testbench.yaml

# PHP CS Fixer
.php-cs-fixer.cache

# IDEs
/.idea
/.vscode

# MacOS
.DS_Store

# Windows
Thumbs.db

# Moox Dev
/app
/bootstrap
/config
/database
/public
/resources
/routes
/storage
/tests
/composer.json
/composer.lock
/artisan
/package.json
/package-lock.json
/vite.config.js
/pro
/.ai
/.boost
/.skills
/.mcp
/prompts
/agents
/ai
