includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - _components
        - _data
        - _icons
        - _packages
        - _themes
        - _others
    excludePaths:
        - '_components/*/build/*'
        - '_data/*/build/*'
        - '_icons/*/build/*'
        - '_packages/*/build/*'
        - '_themes/admin/*/build/*'
        - '_themes/website/*/build/*'
        - '_others/*/build/*'
    tmpDir: build/phpstan
