includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - _custom
        - _other
        - _packages
        - app
    excludePaths:
        - '_packages/*/vendor/*'
        - '_other/*/vendor/*'
        - '_other/builder/*'
        - '_other/satis/*'
    ignoreErrors:
        -
            messages:
                -   '#^Parameter \#1 \$callback of static method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Illuminate\\Database\\Eloquent\\Model\>\:\:guessFactoryNamesUsing\(\) expects callable\(class\-string\<Illuminate\\Database\\Eloquent\\Model\>\)\: class\-string\<Illuminate\\Database\\Eloquent\\Factories\\Factory\>, Closure\(string\)\: non\-falsy\-string given\.$#'
            paths:
                - _components/*/tests/*
                - _packages/*/tests/*
            reportUnmatched: false
        -
            # Builder(s) are packages not wired with Composer. If they were composered, PHPStan would not throw this error!
            messages:
                - '#^Parameter \#1 \$view of function view expects view-string|null, string given.$#'
            paths:
                - _other/builder/*
            reportUnmatched: false
    tmpDir: build/phpstan
