includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - packages
    excludePaths:
        - 'packages/*/vendor/*'
        - 'packages/press/wordpress/*'
        - 'packages/*/tests/*'
    tmpDir: build/phpstan