@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
    @apply z-50 visible;
}

.mt-105 {
    margin-top: 10.5rem;
}

[x-cloak] {
    display: none !important;
}

h1 {
    @apply text-3xl;
    font-family: "Exo", sans-serif;
}
