@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face  {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 800;
        src: local(''),
            url('../../public/build/assets/fonts/exo-2-v20-latin-800.woff') format('woff');
    }
    @font-face {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        src: local(''),
            url('../../public/build/assets/fonts/exo-2-v20-latin-regular.woff') format('woff');
    }
  }
