@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Exo 2", sans-serif;
        font-size: 1.125rem;
    }
}

.tooltip {
    @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
    @apply z-50 visible;
}

.mt-105 {
    margin-top: 10.5rem;
}

[x-cloak] {
    display: none !important;
}

.gradient-text-vibrant {
    background: linear-gradient(to right, #ff1493, #ff69b4, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 1px #4c1d95;
}

.gradient-text-default {
    background: linear-gradient(45deg, #ec4899, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 1px #4c1d95;
}

.gradient-text-subtle {
    background: linear-gradient(
        to right,
        #ec4899 20%,
        #f472b6 40%,
        #8b5cf6 60%,
        #ec4899 80%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 1px #4c1d95;
}
