@font-face {
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(""), url("./fonts/exo-2-v20-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-weight: 800;
    src: local(""), url("./fonts/exo-2-v20-latin-800.woff") format("woff");
}

body {
    color: #0e9adc;
    background-color: #001829;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}

h1 {
    text-align: center;
    font-family: "Exo 2";
    font-weight: 400;
    margin: 50px;
}

h2 {
    color: #001829;
    text-align: center;
    font-family: "Exo 2";
    font-weight: 400;
    margin-top: 50px;
}

p {
    text-align: center;
    font-family: "Exo 2";
    margin: 50px;
    line-height: 1.5em;
}

.logo {
    margin: 30px;
}

.ghbutton {
    display: block;
    text-align: center;
    margin: 50px;
}

.ghbutton img {
    width: 200px;
}

.made-possible {
    background-color: #f7f7f7;
    padding: 50px;
}

.sponsors,
.stack,
.friends {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsors a img,
.stack a img,
.friends a img {
    height: 50px;
    max-width: 250px;
    margin: 40px;
}
