@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --border: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;
}
.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
}

html,
body,
#root {
    height: 100%;
}
