@import "tailwindcss";
@plugin "tailwindcss-animate";

html,
body,
#root {
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        @apply bg-zinc-950 text-zinc-100;
    }
    .bn-root,
    .bn-container,
    .bn-editor,
    [data-bn-root],
    [data-bn-editor] {
        background-color: #09090b !important;
    }
}

@media (prefers-color-scheme: light) {
    body {
        @apply bg-white text-zinc-900;
    }
    .bn-root,
    .bn-container,
    .bn-editor,
    [data-bn-root],
    [data-bn-editor] {
        background-color: #ffffff !important;
    }
}
