name: "Split Plugins"

on:
  push:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ secrets.BOT }}

jobs:
  plugins_split:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - if: "!startsWith(github.ref, 'refs/tags/')"
        uses: "symplify/monorepo-split-github-action@v2.4.4"
        with:
          tag: ${GITHUB_REF#refs/tags/}

          package_directory: "packages/press/wordpress/plugins/moox-press"

          repository_organization: "mooxphp"
          repository_name: "press-wp"

          user_name: "mooxbot"
          user_email: "bot@moox.org"
